ul {
    background-color: #363d4a;
    color: white;
    font-family: 'Comforter Brush', cursive;
    box-sizing: border-box;
    li {
        h1 {
            padding-top: 10px;
        }
    }
}

select {
    background-color: #3c4452;
    color: white;
    width: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;
}